[submodule "actionlib"]
	path = catkin_ws/src/actionlib
	url = https://github.com/ros/actionlib.git
[submodule "geometry2"]
	path = catkin_ws/src/geometry2
	url = https://github.com/ros/geometry2.git
[submodule "navigation"]
	path = catkin_ws/src/navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "realsense-ros"]
	path = catkin_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
