<launch>
    <arg name="map_file" default="$(find netrasahaya)/maps/mymap.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <include file="$(find occupancy)/launch/occupancy.launch"></include>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find netrasahaya)/rviz/netrasahaya.rviz"></node>

    <node pkg="netrasahaya" type="tf_broadcaster.py" name="tf_broadcaster" output="screen"></node>

    <include file="$(find netrasahaya)/launch/move_base.launch"></include>
</launch>